{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
      "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
      "arrow-body-style": 0
    }
}
